[include]
	# Add a per-user email and name
	path = ~/.gitconfig-custom
[includeIf "gitdir:~/work/"]
	# Add an alternate email
	path = ~/work/.gitconfig
[core]
	editor = nvim
	pager = less -FXR
[color]
	ui = auto
[diff]
  #tool = vimdiff
	# For simple diffing with meld:
	# git difftool -g
	# git difftool -t meld
	# git difftool -t meld <commit> -- <file>
	guitool = meld
	submodule = log
[difftool]
	prompt = false
[alias]
	one = log --oneline --decorate
	uno = status -uno
	all = log --branches --remotes --tags --decorate --oneline --graph
	dog = log --decorate --oneline --graph
	date = branch --sort -committerdate --format='%(committerdate:relative)%09%(refname:short)'
[merge]
	tool = mymeldadv
	trustexitcode = false
[mergetool "mymeldadv"]
	# git difftool -t mymeldadv
	#   BASE - Common ancestor of both changes
	#   MERGED - Final version, what will be committed
	#   LOCAL vs REMOTE are non-intuitive depending on pull/rebase/merge
	#
	#   For a pull:
	#     LOCAL - Branch being rebased on (usually the upstream code)
	#     REMOTE - My changes
	#
	#   For a rebase:
	#     Todo
	#
	#   For a merge:
	#     Todo
	cmd = meld --diff $BASE $LOCAL --diff $BASE $REMOTE --diff $LOCAL $BASE $REMOTE --diff $LOCAL $MERGED $REMOTE
[mergetool "mymeld"]
	# Abbreviated version of mymeldadv (just shows the last 3-way comparison window)
	cmd = meld $LOCAL $MERGED $REMOTE
[difftool "code"]
    # git difftool -t code
    cmd = code --wait --diff $LOCAL $REMOTE
[mergetool "code"]
    # git mergetool -t code
    cmd = code --wait $MERGED
[format]
	pretty = medium
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
