[user]
	email = miles.frain@colorado.edu
	name = Miles Frain
[core]
	editor = vim
[alias]
    dt = difftool
    one = log --oneline --decorate
    uno = status -uno
    all = log --branches --remotes --tags --graph --oneline --decorate
