[user]
	email = miles.frain@colorado.edu
	name = Miles Frain
[includeIf "gitdir:~/work/"]
	path = ~/work/.gitconfig
[core]
	editor = /usr/bin/vim
	pager = less -FXR
[color]
	ui = auto
[diff]
	tool = vimdiff
	guitool = meld
	submodule = log
[difftool]
	prompt = false
[alias]
	dt = difftool
	one = log --oneline --decorate
	uno = status -uno
	all = log --branches --remotes --tags --graph --oneline --decorate
[merge]
	tool = mymeldadv
	trustexitcode = false
[mergetool "mymeld"]
	cmd = meld "$LOCAL" "$MERGED" "$REMOTE"
[mergetool "mymeldadv"]
	cmd = meld --diff $BASE $LOCAL --diff $BASE $REMOTE --diff $LOCAL $BASE $REMOTE --diff $LOCAL $MERGED $REMOTE
[format]
	pretty = medium
